# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/

# Virtual Environment
venv/
env/
my-virtualenv/

# IDE settings (VS Code / PyCharm)
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Deployment files
hospital_system.zip